.GetContract{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative; /* Required for the overlay */
    font-weight: bold;
}

.button__toggleGC {
    display: inline-block;
    background-color: var(--first-color); /* Use your theme color */
    color: black; /* White text */
    padding: 0.75rem 1.5rem; /* Adequate padding */
    border-radius: 0.5rem; /* Rounded corners */
    font-weight: var(--font-medium);
    font-size: 1rem; /* Consistent font size */
    cursor: pointer;
    border: none; /* Remove default border */
    transition: background-color 0.3s ease; /* Smooth hover effect */
    width: 200px; /* Fixed width to prevent elongation */
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the text inside the button */
    justify-self: center;
  }
  
  .button__toggleGC:hover {
    background-color: var(--first-color-alt); /* Darker shade on hover */
  }