.nav__logo{
    position: relative;
    color: white; /* Dark text for better visibility */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* White shadow for better contrast */
    font-size: 1 rem;
}

.Component__title{
    font-size: 2.5rem;
    color: white; /* Dark text for better visibility */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* White shadow for better contrast */
    margin-bottom: 20px;
} 

.button__toggleMetamask{
    background-color: #FF7F50; /* MetaMask orange */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button__toggleMetamask:hover{
    background-color: #FF6347; /* Darker orange on hover */
    transform: translateY(-2px);
}

.button__toggleMetamask:active{
    transform: translateY(0);
}

.button__toggleMetamask::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/36/MetaMask_Fox.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.button__toggleH,
.button__toggleA,
.button__toggleF,
.button__toggleC,
.button__toggleV{
    position: relative;
    background-color: transparent;
    color: white;
    text-decoration: underline white  2px ;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    transition: background 0.3s ease;
}

.button__toggleH:hover,
.button__toggleA:hover,
.button__toggleF:hover,
.button__toggleC:hover,
.button__toggleV:hover{
    background-color: rgba(255, 255, 255, 0.269);
    transform: scale(1.05);
}

.button__toggleH:disabled,
.button__toggleA:disabled,
.button__toggleF:disabled,
.button__toggleC:disabled,
.button__toggleV:disabled{
    background-color: #ccc;

}

nav 
{
    display: flex;
    gap: 24px;
    background-color: #111; /* or match your theme */
    padding: 16px 32px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}

.nav__item1{
    font-family: serif;
    font-weight: bold;
    padding: 10px 20px;
    font-size: large;
}


